<% @links.each do |link| %>
 <div class="link row clearfix">
   <h2>
     <%= link_to link.title, link %><br>
     <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></small>
   </h2>

   <div class="btn-group">
     <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
     <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
       <span class="glyphicon glyphicon-chevron-up">
         Upvote
         <%= link.get_upvotes.size %>
     <% end %>
   </div>

   <div class="btn-group">
       <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
       <span class="glyphicon glyphicon-chevron-down">
         Downvote
         <%= link.get_downvotes.size %>
     <% end %>
   </div>

 </div>
 <% end %>
